
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492650623236'); /* IE9*/
  src: url('iconfont.eot?t=1492650623236#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492650623236') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492650623236') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492650623236#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before { content: "\e603"; }

.icon-icon-test:before { content: "\e604"; }

.icon-icon-test1:before { content: "\e605"; }

.icon-icon-test2:before { content: "\e606"; }

.icon-icon-test3:before { content: "\e607"; }

.icon-icon-test4:before { content: "\e608"; }

.icon-icon-test5:before { content: "\e609"; }

.icon-icon-test6:before { content: "\e60a"; }

.icon-icon-test7:before { content: "\e60b"; }

.icon-icon-test8:before { content: "\e60c"; }

.icon-icon-test9:before { content: "\e60d"; }

.icon-icon-test10:before { content: "\e60e"; }

.icon-icon-test11:before { content: "\e60f"; }

.icon-icon-test12:before { content: "\e610"; }

.icon-icon-test13:before { content: "\e611"; }

.icon-icon-test14:before { content: "\e612"; }

.icon-icon-test15:before { content: "\e613"; }

.icon-icon-test16:before { content: "\e614"; }

.icon-icon-test17:before { content: "\e615"; }

.icon-icon-test18:before { content: "\e616"; }

